<div #accordionParent class="accordion-wrapper">
        <div class="data-block" *ngFor="let item of accordionData; let i = index;">
            <p (click)="toggleSection($event, i)">{{ item.name }}</p>
            <p class="count">{{ item.content.length }}</p>
            <div class="borderBottom"></div>
            <div class="hidden-content">
                <ul id="skills" *ngIf="i === 0">
                    <li *ngFor="let listElems of item.content; let j = index">
                        <div class="title" style="grid-area: title;">{{ listElems.title }}</div>
                    </li>
                </ul>
                <ul *ngIf="i > 0">
                    <li *ngFor="let listElems of item.content; let j = index">
                        <div class="title" style="grid-area: title;">{{ listElems.title }}</div>
                        <div>
                            <a href="{{ listElems.code }}" target="_blank" style="grid-area: code">code</a>
                        </div>
                        <div>
                            <a href="{{ listElems.viewProject }}" target="_blank" style="grid-area: project">view project</a> 
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>